$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts";

@import "npm:normalize.css/normalize.css";
@import "npm:@fortawesome/fontawesome-free/scss/fontawesome";
@import "npm:@fortawesome/fontawesome-free/scss/solid";
@import "npm:@fortawesome/fontawesome-free/scss/brands";

body {
    font-family: Helvetica, sans-serif;
    font-size: 110%;
}

#content {
    margin: 2em auto;
    width: 780px;
}

#skills {
    margin-top: 2.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.25em;
}

h2::after {
    display: block;
    content: "";
    margin: 0 0.25em;
    height: 1px;
    background-color: rgb(127 127 127);
}

h3 {
    font-size: 1em;
    text-decoration: underline;
}

ul {
    padding-left: 1.5em;
}

li::marker {
    font-size: 1.25em;
}

header {
    display: flex;
    align-items: center;

    h1 {
        flex: 1;
    }
}

.links {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    list-style: none;
    line-height: 1.5;

    a {
        margin-left: 0.25em;
        text-decoration: none;
    }
}

.position {
    break-inside: avoid;
}

.position,
.skill-group {
    margin-left: 2em;
}

.skill-group {
    margin-bottom: 1em;
}

.timespan {
    font-weight: normal;
}

.tools-used {
    margin: 1.5em 0 1.5em 0.5em;
}

@media print {
    #content {
        margin: 0 auto;
    }

    h1 {
        margin: 0;
    }
}

@page {
    margin-top: 4em;
}
